@model ExternalLoginConfirmationViewModel
@{
  ViewData["Title"] = "Register";
  ViewData["NoMenu"] = true;
}

<md-content flex layout-padding layout="row">
  <div flex-gt-xs="80" flex-gt-sm="60" ng-controller="Account_RegisterCtrl">
    <h2>Register New @ViewData["LoginProvider"] Login</h2>
    <hr />
    @*<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">*@
    @*<div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>*@

    <p>
      You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
      Before you can continue you we need to know a little bit more about you.
    </p>

    <div class="step">
      <div>
        <div class="circle">1</div>
        <div class="line"></div>
      </div>
      <div>
        <div class="title">Account Information</div>
        <div class="body">
          <form name="accountInfoForm" novalidate>
            <md-radio-group ng-model="step1.mode">
              <md-radio-button value="member" ng-disabled="disabledStep(1)">I am a registered member.</md-radio-button>
              <md-radio-button value="invite" ng-disabled="disabledStep(1)">I have an invitation code.</md-radio-button>
            </md-radio-group>

            <md-input-container class="md-block" ng-show="step1.mode == 'invite'">
              <label>Invitation Code</label>
              <input name="inviteCode" ng-model="step1.inviteCode" ng-required="step1.mode == 'invite' && step == 1" ng-disabled="disabledStep(1)" />
              <div ng-messages="accountInfoForm.inviteCode.$error">
                <div ng-message="required">Required.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Email Address</label>
              <input name="email" type="email" minlength="5" maxlength="100" ng-model="step1.email" ng-required="step == 1" ng-disabled="disabledStep(1)">
              <div ng-messages="accountInfoForm.email.$error">
                <div ng-message="required">Required.</div>
              </div>
            </md-input-container>

            <div>We need to verify that this is your email address. Use the button below to send a verification code to your email.</div>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="disabledStep(1)" ng-click="sendCode()">
            <i class="fa fa-spin fa-spinner" ng-class="{hidden: !(working && step == 1)}"></i> Email My Code</md-button>
          </form>
        </div>
      </div>
    </div>
    <div class="step">
      <div>
        <div class="circle">2</div>
        <div class="line"></div>
      </div>
      <div>
        <div class="title">Email Verification</div>
        <div class="body">
          <form name="verifyForm" novalidate>
            <p>
              When you have received your verification code in your email, copy it here and press the button to continue.
            </p>
            <md-input-container class="md-block">
              <label>Verification Code</label>
              <input name="verify" ng-model="step2.verify" ng-required="step == 2" ng-disabled="disabledStep(2)" required>
              <div ng-messages="verifyForm.verify.$error">
                <div ng-message="required">Required.</div>
              </div>
            </md-input-container>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="disabledStep(2)" ng-click="verifyCode()">
              <i class="fa fa-spin fa-spinner" ng-class="{hidden: !(working && step == 2)}"></i> Verify My Code</md-button>
          </form>
        </div>
      </div>
    </div>
    


  </div>
</md-content>