@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <ul>
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.GetUserName()!</a>
            </li>
            <li>
                <button type="submit">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
  <md-menu md-position-mode="target-right target" class="squish-left">
    <md-button aria-label="Open login menu" class="md-icon-button" ng-click="openLoginMenu($mdOpenMenu, $event)">
      <i class="fa fa-user"></i>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button href="@Url.Content("~/Account/Login")">
          <md-icon md-font-icon="fa-unlock" class="fa"></md-icon>
          Login
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="register($event)">
          <md-icon md-font-icon="fa-user-plus" class="fa"></md-icon> Register
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
}
